.advertising {
  position: relative;
  padding: 66px 0 clamp(40px, 7vw, 80px);
  background: @background[main];

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 745px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-image: url("data:image/svg+xml,%3Csvg width='1728' height='249' viewBox='0 0 1728 249' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.7' d='M-36.3424 248.869V0.764441H70.7497C89.1637 0.764441 105.276 4.39879 119.086 11.6675C132.897 18.9362 143.639 29.1527 151.311 42.3171C158.984 55.4815 162.82 70.8669 162.82 88.4733C162.82 106.241 158.862 121.627 150.948 134.63C143.114 147.632 132.089 157.647 117.875 164.673C103.741 171.7 87.2254 175.213 68.3268 175.213H4.3623V122.878H54.7586C62.6734 122.878 69.4171 121.505 74.9898 118.76C80.6432 115.933 84.964 111.935 87.9523 106.766C91.0213 101.597 92.5558 95.4997 92.5558 88.4733C92.5558 81.3662 91.0213 75.3089 87.9523 70.3016C84.964 65.2135 80.6432 61.3369 74.9898 58.6717C69.4171 55.9257 62.6734 54.5528 54.7586 54.5528H31.0142V248.869H-36.3424ZM201.179 248.869V0.764441H379.989V55.0374H268.536V97.6803H370.782V151.953H268.536V194.596H379.504V248.869H201.179ZM579.925 248.869L503.846 148.561H494.397V248.869H427.04V0.764441H494.397V94.2883H503.119L574.353 0.764441H659.154L564.661 119.971L664.484 248.869H579.925ZM687.973 248.869V197.019L694.757 196.05C702.995 194.758 709.82 191.204 715.231 185.389C720.723 179.494 724.922 170.165 727.83 157.405C730.818 144.563 732.716 127.078 733.524 104.949L737.4 0.764441H917.179V248.869H852.246V53.099H799.426L795.55 131.116C794.096 160.03 790.219 183.087 783.92 200.29C777.62 217.493 768.05 229.89 755.209 237.482C742.367 245.073 725.447 248.869 704.449 248.869H687.973ZM1027.17 248.869H954.478L1036.37 0.764441H1128.44L1210.34 248.869H1137.65L1083.38 69.0902H1081.44L1027.17 248.869ZM1013.6 150.984H1150.25V201.38H1013.6V150.984ZM1247.88 0.764441H1331.71L1389.38 141.292H1392.28L1449.95 0.764441H1533.78V248.869H1467.88V105.434H1465.94L1410.7 246.931H1370.96L1315.72 104.464H1313.78V248.869H1247.88V0.764441ZM1643.8 248.869H1571.11L1653 0.764441H1745.07L1826.97 248.869H1754.28L1700.01 69.0902H1698.07L1643.8 248.869ZM1630.23 150.984H1766.88V201.38H1630.23V150.984Z' fill='white'/%3E%3C/svg%3E%0A");
    z-index: 0;
  }

  &__wrap {
    position: relative;
    z-index: 1;
  }

  &__top {
    max-width: 820px;
    margin-bottom: 24px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 12px 24px;
    margin-top: clamp(20px, 5vw, 48px);

    @media (max-width: @sizes[maxXS]) {
      flex-direction: column;
    }

    .item {
      width: 100%;
      transition: @transition;
      border: 1px solid #FFA3A3;
      background: #ffffff;
      padding: 26px 34px;
      border-radius: 12px;
      max-width: 100%;

      @media (min-width: @sizes[minMD]) {
        max-width: 646px;
        flex: 1 0 47%;
      }

      @media (min-width: @sizes[minLG]) {
        max-width: 646px;
        flex: 1 0 47%;
      }

      &--2, &--3 {

        @media (max-width: @sizes[maxSM]) {
          flex: 1 0 100%;
          width: 100%;
        }

        @media (min-width: @sizes[minMD]) {
          max-width: 646px;
          flex: 1 0 30%;
        }

        @media (min-width: @sizes[minLG]) {
          max-width: 500px;
          flex: 1 0 37%;
        }
      }

      &--2 {
        @media (min-width: @sizes[minSM]) and (max-width: @sizes[maxLG]) {
          max-width: 646px;
          flex: 1 0 47%;
        }
      }
    }

    .empty {
      border: 1px solid #E4E4E4;
      background: transparent;
      padding: 26px 22px;
      max-width: 100%;

      @media (min-width: @sizes[minXS]) {
        flex: 1 0 47%;
      }

      @media (min-width: @sizes[minSM]) {
        flex: 1 0 47%;
      }

      @media (min-width: @sizes[minLG]) {
        flex: 1 0 20%;
      }

      .item__top {
        color: #858585;
        border: 1px solid #E4E4E4;
      }

      &__line {
        background: linear-gradient(270deg, #F4F4F4 0%, #E2E2E2 102.78%);
        border-radius: 12px;
        height: 11px;
        margin-bottom: 15px;
      }

      &__title {
        height: 25px;
        margin-bottom: 43px;
        margin-top: clamp(20px, 4vw, 52px);
      }

      
    }

    .empty.mobhidden {

        @media (max-width: @sizes[maxSM]) {
            display: none;
        }
    }

    

    .item__top {
      color: #F00000;
      border: 1px solid #FFA3A3;
      border-radius: 22px;
      text-transform: uppercase;
      .font( 600 );
      .fontSize( 14px, 31px );
      padding: 6px 12px;
      width: fit-content;
      margin-left: auto;
    }

    .item__title {
      .font( 700 );
      .fontSize( 24px, 34px );
      margin: 24px 0;
      color: #D30000;
    }

    .item__true {
      color: #000000;
      opacity: .4;
      text-transform: uppercase;
      .font( 800 );
      .fontSize( 16px, 34px );
    }

    .item__text {
      .fontNunito(400);
      .fontSize(18px, 25px);
      max-width: 544px;
    }
  }
  
}
