.join {
  position: relative;
  padding: 66px 0 clamp(40px, 7vw, 80px);

  &__top {
    display: flex;
    flex-direction: column;

    @media (min-width: @sizes[minSM]) {
      flex-direction: row;
    }
  }

  &__photo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid @color[accent];
    width: 124px;
    height: 124px;

    &::before {
      content: '';
      position: absolute;
      width: 107px;
      height: 107px;
      border: 1px solid @color[white];
      border-radius: 50%;
    }

    img {
      border-radius: 50%;
      width: 100px;
      height: auto;
    }
  }

  &__info {
    .fontNunito(500);
    .fontSize(18px, 39px);
    color: @color[accent];
    margin: 12px 0 24px;
  }

  

  &__list {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin-top: clamp(20px, 5vw, 48px);

    @media (max-width: @sizes[maxSM]) {
      flex-direction: column;
    }

    .item {
      width: 100%;
      
      @media (min-width: @sizes[minSM]) {
        width: 48%;
      }
    }

    .item__title {
      .font( 700 );
      .fontSize( 18px, 34px );
      margin: 24px 0 6px;
    }

    .item__text {
      .fontNunito(400);
      .fontSize(14px, 19px);
      max-width: 544px;
    }
  }
  
}
