.recommendation {
  position: relative;
  padding: clamp(30px, 7vw, 66px) 0;

  &--left {
    max-width: 558px;
    margin: clamp(30px, 7vw, 80px) 0 clamp(30px, 7vw, 95px) clamp(20px, 10vw, 134px);

    @media ( max-width: @sizes[ maxLG ] ) {
      margin: clamp(30px, 7vw, 80px) 16px clamp(30px, 7vw, 95px);
     }
  }

  &__wrap.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media ( max-width: @sizes[ maxMD ] ) {
     flex-wrap: wrap;
     justify-content: center;
     gap: 20px;
    }

    @media ( max-width: @sizes[ maxMD ] ) {
      max-width: 774px;
    }

    @media ( max-width: @sizes[ maxSM ] ) {
      gap: 20px;
      justify-content: flex-start;
      width: fit-content;
      max-width: 420px;
    }

  }

  h5 {
    .fontNunito(700);
    .fontSize(clamp(18px, 2vw, 24px), clamp(20px, 2vw, 30px));
    color: @color[black];
    max-width: 310px;
    margin: 0 0 20px;
  }

  &__center {
    max-width: 405px;
  }

  &__reviews {
    width: fit-content;

    @media ( max-width: @sizes[ maxLG ] ) {
      margin-left: auto;
      max-width: 405px;
     }
  }

  &__description {
    margin-bottom: clamp(25px, 3vw, 34px);
    .fontSize(14px, 19px);
  }


  &__reviews--title {
    .fontNunito(700);
    .fontSize(clamp(18px, 2vw, 24px), clamp(20px, 2vw, 30px));
    margin: 0 0 2px;
  }

  &__reviews--center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__reviews--rating {
    position: relative;
    display: flex;
    align-items: center;
    .fontSize(16px, 30px);
    color: #8B8686;

    &:after {
      content: '';
      display: inline-block;
      width: 120px;
      height: 25px;
      margin: 0 12px;
      background-image: url("data:image/svg+xml,%3Csvg width='120' height='21' viewBox='0 0 120 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.23685 6.59404L1.76683 7.38743L1.67037 7.40752C1.52327 7.4461 1.38983 7.52327 1.28293 7.63098C1.17521 7.73788 1.09885 7.87213 1.06027 8.01922C1.02249 8.16552 1.0233 8.32065 1.06429 8.46615C1.10529 8.61245 1.18406 8.74509 1.29258 8.85119L5.25548 12.7087L4.32143 18.1571L4.31017 18.252C4.30133 18.4031 4.33268 18.555 4.40101 18.6901C4.47014 18.8259 4.57383 18.9409 4.70163 19.0229C4.82944 19.1057 4.97653 19.1523 5.12846 19.1587C5.28038 19.1659 5.43071 19.1322 5.56494 19.0614L10.4578 16.4892L15.3386 19.0614L15.4246 19.1008C15.5661 19.1563 15.7196 19.1732 15.87 19.1499C16.0203 19.1266 16.1618 19.0639 16.2799 18.9682C16.3981 18.8717 16.4881 18.7464 16.542 18.6041C16.595 18.4618 16.6095 18.3075 16.5838 18.1571L15.6481 12.7087L19.6135 8.85037L19.6802 8.77722C19.7758 8.65986 19.8385 8.51839 19.8618 8.36887C19.8852 8.21936 19.8683 8.06582 19.8128 7.92435C19.7582 7.78368 19.6665 7.65988 19.5475 7.56503C19.4286 7.47099 19.2871 7.4099 19.1376 7.38819L13.6667 6.59401L11.2215 1.63843C11.1507 1.49455 11.0414 1.37396 10.9056 1.28957C10.7697 1.20517 10.613 1.16016 10.4522 1.16016C10.2922 1.16016 10.1355 1.20517 9.99965 1.28957C9.86381 1.37398 9.75449 1.49455 9.68374 1.63843L7.23685 6.59404Z' fill='%23FFAF02'/%3E%3Cpath d='M31.815 6.59404L26.345 7.38743L26.2485 7.40752C26.1014 7.4461 25.968 7.52327 25.8611 7.63098C25.7533 7.73788 25.677 7.87213 25.6384 8.01922C25.6006 8.16552 25.6014 8.32065 25.6424 8.46615C25.6834 8.61245 25.7622 8.74509 25.8707 8.85119L29.8336 12.7087L28.8996 18.1571L28.8883 18.252C28.8795 18.4031 28.9108 18.555 28.9791 18.6901C29.0483 18.8259 29.152 18.9409 29.2798 19.0229C29.4076 19.1057 29.5547 19.1523 29.7066 19.1587C29.8585 19.1659 30.0088 19.1322 30.1431 19.0614L35.0359 16.4892L39.9168 19.0614L40.0028 19.1008C40.1442 19.1563 40.2978 19.1732 40.4481 19.1499C40.5984 19.1266 40.7399 19.0639 40.858 18.9682C40.9762 18.8717 41.0662 18.7464 41.1201 18.6041C41.1731 18.4618 41.1876 18.3075 41.1619 18.1571L40.2262 12.7087L44.1916 8.85037L44.2583 8.77722C44.354 8.65986 44.4167 8.51839 44.44 8.36887C44.4633 8.21936 44.4464 8.06582 44.3909 7.92435C44.3363 7.78368 44.2446 7.65988 44.1257 7.56503C44.0067 7.47099 43.8652 7.4099 43.7157 7.38819L38.2449 6.59401L35.7996 1.63843C35.7289 1.49455 35.6195 1.37396 35.4837 1.28957C35.3478 1.20517 35.1911 1.16016 35.0303 1.16016C34.8704 1.16016 34.7136 1.20517 34.5778 1.28957C34.4419 1.37398 34.3326 1.49455 34.2619 1.63843L31.815 6.59404Z' fill='%23FFAF02'/%3E%3Cg clip-path='url(%23clip0_5_203)'%3E%3Cpath d='M56.3926 6.59404L50.9226 7.38743L50.8261 7.40752C50.679 7.4461 50.5456 7.52327 50.4387 7.63098C50.331 7.73788 50.2546 7.87213 50.216 8.01922C50.1783 8.16552 50.1791 8.32065 50.2201 8.46615C50.261 8.61245 50.3398 8.74509 50.4483 8.85119L54.4112 12.7087L53.4772 18.1571L53.4659 18.252C53.4571 18.4031 53.4884 18.555 53.5568 18.6901C53.6259 18.8259 53.7296 18.9409 53.8574 19.0229C53.9852 19.1057 54.1323 19.1523 54.2842 19.1587C54.4361 19.1659 54.5865 19.1322 54.7207 19.0614L59.6135 16.4892L64.4944 19.0614L64.5804 19.1008C64.7219 19.1563 64.8754 19.1732 65.0257 19.1499C65.176 19.1266 65.3175 19.0639 65.4357 18.9682C65.5538 18.8717 65.6439 18.7464 65.6977 18.6041C65.7508 18.4618 65.7652 18.3075 65.7395 18.1571L64.8039 12.7087L68.7692 8.85037L68.8359 8.77722C68.9316 8.65986 68.9943 8.51839 69.0176 8.36887C69.0409 8.21936 69.024 8.06582 68.9686 7.92435C68.9139 7.78368 68.8223 7.65988 68.7033 7.56503C68.5843 7.47099 68.4429 7.4099 68.2934 7.38819L62.8225 6.59401L60.3772 1.63843C60.3065 1.49455 60.1972 1.37396 60.0613 1.28957C59.9255 1.20517 59.7687 1.16016 59.608 1.16016C59.448 1.16016 59.2912 1.20517 59.1554 1.28957C59.0196 1.37398 58.9102 1.49455 58.8395 1.63843L56.3926 6.59404Z' fill='%23FFAF02'/%3E%3C/g%3E%3Cpath d='M80.9703 6.59404L75.5002 7.38743L75.4038 7.40752C75.2567 7.4461 75.1232 7.52327 75.0163 7.63098C74.9086 7.73788 74.8322 7.87213 74.7937 8.01922C74.7559 8.16552 74.7567 8.32065 74.7977 8.46615C74.8387 8.61245 74.9175 8.74509 75.026 8.85119L78.9889 12.7087L78.0548 18.1571L78.0436 18.252C78.0347 18.4031 78.0661 18.555 78.1344 18.6901C78.2035 18.8259 78.3072 18.9409 78.435 19.0229C78.5628 19.1057 78.7099 19.1523 78.8619 19.1587C79.0138 19.1659 79.1641 19.1322 79.2983 19.0614L84.1911 16.4892L89.072 19.0614L89.158 19.1008C89.2995 19.1563 89.453 19.1732 89.6034 19.1499C89.7537 19.1266 89.8952 19.0639 90.0133 18.9682C90.1315 18.8717 90.2215 18.7464 90.2754 18.6041C90.3284 18.4618 90.3429 18.3075 90.3172 18.1571L89.3815 12.7087L93.3469 8.85037L93.4136 8.77722C93.5092 8.65986 93.5719 8.51839 93.5952 8.36887C93.6186 8.21936 93.6017 8.06582 93.5462 7.92435C93.4916 7.78368 93.3999 7.65988 93.2809 7.56503C93.162 7.47099 93.0205 7.4099 92.871 7.38819L87.4001 6.59401L84.9549 1.63843C84.8841 1.49455 84.7748 1.37396 84.639 1.28957C84.5031 1.20517 84.3464 1.16016 84.1856 1.16016C84.0256 1.16016 83.8689 1.20517 83.7331 1.28957C83.5972 1.37398 83.4879 1.49455 83.4171 1.63843L80.9703 6.59404Z' fill='%23FFAF02'/%3E%3Cpath d='M105.548 6.59404L100.078 7.38743L99.9814 7.40752C99.8343 7.4461 99.7009 7.52327 99.594 7.63098C99.4862 7.73788 99.4099 7.87213 99.3713 8.01922C99.3335 8.16552 99.3343 8.32065 99.3753 8.46615C99.4163 8.61245 99.4951 8.74509 99.6036 8.85119L103.567 12.7087L102.632 18.1571L102.621 18.252C102.612 18.4031 102.644 18.555 102.712 18.6901C102.781 18.8259 102.885 18.9409 103.013 19.0229C103.14 19.1057 103.288 19.1523 103.439 19.1587C103.591 19.1659 103.742 19.1322 103.876 19.0614L108.769 16.4892L113.65 19.0614L113.736 19.1008C113.877 19.1563 114.031 19.1732 114.181 19.1499C114.331 19.1266 114.473 19.0639 114.591 18.9682C114.709 18.8717 114.799 18.7464 114.853 18.6041C114.906 18.4618 114.921 18.3075 114.895 18.1571L113.959 12.7087L117.925 8.85037L117.991 8.77722C118.087 8.65986 118.15 8.51839 118.173 8.36887C118.196 8.21936 118.179 8.06582 118.124 7.92435C118.069 7.78368 117.978 7.65988 117.859 7.56503C117.74 7.47099 117.598 7.4099 117.449 7.38819L111.978 6.59401L109.533 1.63843C109.462 1.49455 109.352 1.37396 109.217 1.28957C109.081 1.20517 108.924 1.16016 108.763 1.16016C108.603 1.16016 108.447 1.20517 108.311 1.28957C108.175 1.37398 108.066 1.49455 107.995 1.63843L105.548 6.59404Z' fill='%23FFAF02'/%3E%3Cdefs%3E%3CclipPath id='clip0_5_203'%3E%3Crect width='20.5779' height='20.5779' fill='white' transform='translate(49.3252 0.300781)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center 0;
      opacity: 1;
    }

    strong {
      .fontNunito(700);
      color: @color[black];
    }
  }

  &__reviews--text {
    .fontSize(16px, 30px);
  }

  &__reviews--maps {
    display: block;
    .fontSize(18px, 30px);
    margin: clamp(25px, 3vw, 41px) 0 0;
    color: @color[link];
    text-decoration: underline;
  }

  .button--main {
    max-width: 252px;
  }


  
}
