.footer {
  background: @background[ footer ];
  // color: @color[ white ];

  @media ( max-width: @sizes[ maxSM ] ) {
    text-align: center;
  }

  &__top {
    background: #434343;
    color: @color[ white ];

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 36px;
      padding-bottom: 36px;
      max-width: 1584px;

      @media ( max-width: @sizes[ maxLG ] ) {
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
    }

    button {
      background: @background[white];
      max-width: 244px;
      .fontNunito(700);
      .fontSize(18px, 44px);
      padding: 7px 39px;
      cursor: pointer;
      border-radius: 6px;
      border: 1px solid transparent;
      white-space: nowrap;
    }

    &--left {
      display: flex;
      align-items: center;

      @media ( max-width: @sizes[ maxLG ] ) {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__desc {
    .fontNunito(400);
    .fontSize(16px, 20px);
    max-width: 263px;
  }

  &__phone {
    .fontNunito(700);
    .fontSize(16px, 44px);
    white-space: nowrap;
  }

  &__orders {
    .fontNunito(400);
    .fontSize(14px, 22px);
    position: relative;
    white-space: nowrap;

    &:before {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      margin-right: 9px;
      opacity: 1;
      background: @background[ green ];
      border-radius: 50%;
      animation-name: blinkAnimation;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      transition: .6s;
    }

    @media ( max-width: @sizes[ maxLG ] ) {
      white-space: wrap;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    background: #2A2A2A;

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 1584px;
      padding-top: clamp(35px, 9vw, 67px);
      padding-bottom: clamp(35px, 9vw, 67px);

      @media ( max-width: @sizes[ maxSM ] ) {
        flex-direction: column;
        align-items: center;
        gap: 24px;
      }
    }
  }

  &__menu-title {
    .fontNunito(700);
    .fontSize(16px, 44px);
    margin-bottom: 12px;
    color: #BABABA;
    -spacing: 1px;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1A1A1A;
    padding: 14px;
    text-align: center;
    text-transform: none;
    color: #F9F9F9;

    @media ( max-width: @sizes[ maxLG ] ) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    min-height: 55px;
    margin-bottom: 23px;
    transition: @transition;

    @media ( min-width: @sizes[ minLG ] ) {
      margin-bottom: 0;
      margin-right: 24px;

      &:hover {
        opacity: .75;
      }
    }
  }

 
  
  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 215px;

    a {
      display: block;
      .fontNunito(400);
      .fontSize( 16px, 26px );
      color: #696969;
      text-transform: none;
      transition: @transition;

      // &:hover {
        // color: @color[ accent ];
      // }

    }
  }



}

