@import 'header-menu';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  // background: @background[ header ];
  transition: @transition;
  padding: 0 0 10px;

  @media ( min-width: @sizes[ minSM ] ) and ( max-width: @sizes[ maxLG ] ) {
    padding: 15px 0 0;
  }

  @media ( max-width: @sizes[ maxSM ] ) {
    padding: 15px 0;
  }

  &-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    background: @background[main];

    .header--top {
      display: none
    }

    .header--bottom {
      padding: 0;
    }

  }

  .container {
    max-width: 1584px;
    
    @media ( max-width: @sizes[ maxXXS ] ) {
      padding: 0 10px;
    }
  }

  &--top {
    background: @background[white];
    padding: 0;

    @media ( max-width: @sizes[ maxSM ] ) {
      display: none;
    }

    &-wrp {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

  }

  &--top-left {
    display: flex;
    align-items: center;
  }

  &__schedule {
    position: relative;
    .fontSize(14px, 44px);
    padding-left: 16px;

    &:before {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      top: 19px;
      left: 0;
      opacity: 1;
      background: @background[ green ];
      border-radius: 50%;
      animation-name: blinkAnimation;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      transition: .6s;
    }
  }

  &__autonom {
    position: relative;
    .fontSize(14px, 44px);
    padding-left: 18px;

    &:before {
      content: '';
      position: absolute;
      top: calc( 50% - 7px );
      left: 0;
      width: 8px;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg width='9' height='17' viewBox='0 0 9 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.98567 4.92466H5.46549L6.77899 1.17657V1.17742C6.80294 1.11072 6.79268 1.03633 6.75163 0.978174C6.71058 0.920879 6.64388 0.885817 6.57376 0.885817H2.93512C2.83421 0.881541 2.74442 0.947387 2.7162 1.04316L0.308106 9.32527C0.288437 9.39283 0.302119 9.46551 0.345733 9.5211C0.389346 9.57668 0.456902 9.60833 0.527024 9.60576H2.49729L2.11162 16.0391C2.10478 16.1434 2.17148 16.2384 2.27239 16.2657C2.37244 16.2931 2.47848 16.2461 2.5255 16.1537L8.18913 5.24458C8.22419 5.17702 8.22162 5.09578 8.18143 5.02994C8.1421 4.96495 8.07112 4.92475 7.99415 4.92475L7.98567 4.92466Z' fill='%23E90000'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      animation-name: blinkAnimation;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      transition: .6s;
    }
  }

  &__phones-wrp {
    display: flex;
    align-items: center;
    margin-right: 10px;

    @media (min-width: @sizes[ minSM ] ) {
      display: none;
    }
  }

  &__phone {
    position: relative;
    .fontSize(16px, 44px);
    .font(700);
    min-height: 20px;
    margin-left: 36px;
    cursor: pointer;
    display: block;

    @media (max-width: @sizes[ maxSM ] ) {
      display: none;

      &--mobile {
        display: block;
        margin: 0;
        white-space: nowrap;
      }
    }
  }

  &__phones {
    position: absolute;
    width: fit-content;
    .fontSize(16px, 44px);
    .font(700);
    padding: 20px;
    right: 0;
    top: 32px;
    box-shadow: 0px 0px 10px 3px #C5C5C514;
    z-index: 3;
    background: #fff;
    transition: @transition;
    transform: scaleY(0);
    transform-origin: top;
    border-radius: 6px;

    li {
      white-space: nowrap;
    }

    &.visible {
      display: block;
      transform: scaleY(1);
    };
  }

  &__show-phones {
    display: inline-block;
    position: relative;
    margin-left: 11px;
    width: 14px;
    height: 7px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='7' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.80354 5.52555C7.4746 5.85449 6.98994 6.33914 6.72667 6.60241C6.46284 6.86625 6.03197 6.86625 5.76813 6.60241C5.5043 6.33858 5.01964 5.85392 4.69127 5.52555L0.439857 1.27414C0.110914 0.945193 0.0576925 0.460539 0.320962 0.197269C0.584798 -0.0665675 1.06945 -0.0127798 1.39783 0.316165L5.64924 4.56757C5.97818 4.89652 6.51606 4.89652 6.845 4.56757L11.0964 0.316165C11.4254 -0.0127784 11.91 -0.0660008 12.1733 0.197269C12.4371 0.461105 12.3833 0.945758 12.0544 1.27414L7.80354 5.52555Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    transition: .6s;
    cursor: pointer;
  }

  &__mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 20px;
    .fontSize( 13px, 16px );
    cursor: pointer;
    // color: @color[ subTitle ];

    // &:hover,
    // &:active,
    // &:focus {
    //   color: @color[ subTitle ];
    // }

    img {
      display: inline-block;
      margin-right: 5px;
    }

  }

  &--bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

    @media ( max-width: @sizes[ maxSM ] ) {
      padding: 0;
    }

  }

  &__logo {
    display: block;
    min-height: 40px;
    max-width: 200px;

    @media ( max-width: @sizes[ maxLG ] ) {
      flex-grow: 1;
      max-height: 51px;

      img {
        width: 100%;
        max-width: 170px;
      }
    }
  }


  .logo__desktop {
    position: relative;
  }


  @media (max-width: @sizes[ maxSM ]) {
    .logo__desktop {
      display: none;
    }

    .logo__mobile {
      margin-right: 24px;
      display: flex;
      align-items: center;
      
      img {
        max-width: 160px;
      }
    }
  }

  @media (min-width: @sizes[ minSM ]) {
    .logo__mobile {
      display: none;
    }

    .desctop__hidden {
      display: none;
    }
  }

  &__phone--mobile {
    display: none;
    cursor: pointer;

    @media (max-width: @sizes[ maxSM ] ) {
      display: block;
      // margin-top: 40px;
    }

  }

  &__mail--mobile {
    display: none;
    cursor: pointer;
    .font( 400 );
    .fontSize( 16px, 19px );
    // color: @color[ mobileMenuLinks ];

    @media (max-width: @sizes[ maxSM ] ) {
      display: flex;
      align-items: flex-end;
      margin-top: 20px;
    }

    img {
      margin-right: 10px;
    }

  }

  &__hamburger {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all @transition;

    @media ( max-width: @sizes[ maxLG ] ) {
      display: flex;
    }

    .hamburger-line1,
    .hamburger-line2,
    .hamburger-line3 {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 3px;
      background: @background[ dark ];
      transition: all @transition;
    }

    .hamburger-line1 {
      top: 1px;
    }

    .hamburger-line2 {
      top: calc(50% - 1.5px);
    }

    .hamburger-line3 {
      bottom: 0;
    }

  }

  .button--second {
    width: 100%;
    max-width: 185px;
    white-space: nowrap;

    @media ( max-width: @sizes[ maxXS ] ) {
      padding: 13px 10px;
      max-width: 165px;
    }

    @media ( max-width: @sizes[ maxSM ] ) {
      display: none;
    }
    
  }

}

@media ( max-width: @sizes[ maxLG ] ) {

  .header .button--second {
    margin-left: auto;
    margin-right: 24px;
  }

  .is-open {

    .header__hamburger {
      // border: 2px solid @background[ hamburgerOpen ];

      .hamburger-line1,
      .hamburger-line2,
      .hamburger-line3 {
        width: 60%;
        // background: @background[ hamburgerOpen ];
      }

      .hamburger-line1 {
        transform: rotate(45deg);
        top: calc(50% - 1.5px);
        left: calc( 50% - 30% );
      }

      .hamburger-line2 {
        transform: scaleX(0);
      }

      .hamburger-line3 {
        transform: rotate(-45deg);
        top: calc(50% - 1.5px);
        left: calc( 50% - 30% );
      }

    }

  }

}