.header .wpm-language-switcher {
  color: #B7B7B7;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 8px;
  border-radius: 40px;
  border: 1px solid @border[menuBorder];
  width: 100%;
  max-width: 60px;
  max-height: 30px;

  li.active span {
    color: @color[black];
    .font( 600 );
    .fontSize(14px, 44px);
    text-align: center;
    transition: @transition;

    &:hover, &:active {
      color: #333333;
    }
  }


  li a span {
    .font( 600 );
    .fontSize(14px, 44px);
    color: #CECECE;
    transition: @transition;

    &:hover, &:active {
      color: #333333;
    }
  }

  li {
    cursor: pointer;
  }

  li span img {
    display: none;
  }

  .wpm-item-language-en  a img, .wpm-item-language-lv a img {
      display: none;
  }

}
  